tr {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

td {
  padding: 10px;
}

img {
  width: 250px;
  height: 250px;
}

.progress {
  color: #000;
  background-color: #8080806b;
}

.progress-red {
  color: #fff;
  background-color: red;
  text-align: center;
}

.progress-orangered {
  color: #fff;
  background-color: orangered;
  text-align: center;
}

.progress-orange {
  color: #fff;
  background-color: orange;
  text-align: center;
}

.progress-green {
  color: #fff;
  background-color: green;
  text-align: center;
}

.progress-blue {
  color: #fff;
  background-color: blue;
  text-align: center;
}
.progress-blueviolet {
  color: #fff;
  background-color: blueviolet;
  text-align: center;
}

.powestats {
  margin-bottom: 10px;
}

legend {
  font-weight: bold;
  margin-bottom: 10px;
}

.paper {
  width: 70%;
  border: 2px solid #000;
  background-color: white;
  box-shadow: blueviolet;
  padding: 24px;
}

.modal {
  display: flex;
  padding: 24px;
  align-items: center;
  justify-content: center;
}

.root {
  height: 300;
  flex-grow: 1;
  min-width: 300;
  transform: translateZ(0);
}
